@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bottle and Can Image Classification</h1>
    <p class="lead">
        The Bottle and Can Image classification application is an ASP.NET MVC Web application hosted on Azure.
        It integrates Azure Custom Vision to classify uploaded images as either a bottle or a Can.
        This document provides a comprehensive guide on how the application works and how to use it.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more&raquo;</a></p>
    
</div>
</div>